.card {
    background-color: white;
    font-family: 'nunito';
}
.card-title {
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.txtPincipal {
    font-size: 17px;
    line-height: 23px;
    font-weight: 800;
}
.txtSecundario {
    border: 1px solid #F1F1F1;
    border-radius: 3px;
    font-size: 10px;
    line-height: 14px;
    font-weight: bold;
    align-self: center;
}

.progress {
    padding: 0px;
    margin-top: 5px;
    height: 7px;
}

.txtSuccess {
    color: #05A51F;
}
.txtDanger {
    color: #FF0A2B;
}
.txtPrimary {
    color: #025ADE;
}

.linha {
    position: absolute;
    left: 60%;
    border: 1px solid #007713;
    width: 0px;
    height: 10px;
}