<div class="container-fluid dashboard">
  <div class="card">
    <div class="card-body">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Coordenadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Promotores </a>
        </li>
      </ul>
      <table class="table table-striped rounded">
        <thead>
          <tr>
            <th scope="col">COORDENADORES</th>
            <th scope="col">NOTA</th>
            <th scope="col">LOJAS VISITADAS - % VISITAS</th>
            <th scope="col">MIX</th>
            <th scope="col">MATERIAL</th>
            <th scope="col">CROSS</th>
            <th scope="col">PREÇO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Coordenador 1</th>
            <td>7,0</td>
            <td>200 - 97%</td>
            <td>76,9%</td>
            <td>67,0%</td>
            <td>71,2%</td>
            <td>86,5%</td>
          </tr>
          <tr>
            <th scope="row">Coordenador 1</th>
            <td>7,0</td>
            <td>200 - 97%</td>
            <td>76,9%</td>
            <td>67,0%</td>
            <td>71,2%</td>
            <td>86,5%</td>
          </tr>
          <tr>
            <th scope="row">Coordenador 1</th>
            <td>7,0</td>
            <td>200 - 97%</td>
            <td>76,9%</td>
            <td>67,0%</td>
            <td>71,2%</td>
            <td>86,5%</td>
          </tr>
          <tr>
            <th scope="row">Coordenador 1</th>
            <td>7,0</td>
            <td>200 - 97%</td>
            <td>76,9%</td>
            <td>67,0%</td>
            <td>71,2%</td>
            <td>86,5%</td>
          </tr>
          <tr>
            <th scope="row">Coordenador 1</th>
            <td>7,0</td>
            <td>200 - 97%</td>
            <td>76,9%</td>
            <td>67,0%</td>
            <td>71,2%</td>
            <td>86,5%</td>
          </tr>
          <tr>
            <th scope="row">Coordenador 1</th>
            <td>7,0</td>
            <td>200 - 97%</td>
            <td>76,9%</td>
            <td>67,0%</td>
            <td>71,2%</td>
            <td>86,5%</td>
          </tr>
          <tr>
            <th scope="row">Coordenador 1</th>
            <td>7,0</td>
            <td>200 - 97%</td>
            <td>76,9%</td>
            <td>67,0%</td>
            <td>71,2%</td>
            <td>86,5%</td>
          </tr>
          <tr>
            <th scope="row">Coordenador 1</th>
            <td>7,0</td>
            <td>200 - 97%</td>
            <td>76,9%</td>
            <td>67,0%</td>
            <td>71,2%</td>
            <td>86,5%</td>
          </tr>
          <tr>
            <th scope="row">Coordenador 1</th>
            <td>7,0</td>
            <td>200 - 97%</td>
            <td>76,9%</td>
            <td>67,0%</td>
            <td>71,2%</td>
            <td>86,5%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>