.card {
    background-color: white;
}

.nav-item {
    font-weight: bold;
    font-size: 9px;
    line-height: 11px;
    text-transform: uppercase;
}

table {
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    font-size: 10px;
}
tbody tr th {
    color: #025ADE;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
}