<div class="card">
    <div class="card-body">
        <div class="card-title position-absolute top-0 start-0" [style.background-color]="bg"> {{ titulo }}</div>
        <div class="table-responsive mt-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">categoria</th>
                        <th scope="col">%</th>
                        <th scope="col">Atingiu?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr scope="row" *ngFor="let categoria of tabelaCategorias">
                        <td>{{ categoria.categoria }}</td>
                        <td>{{ categoria.percentual }}</td>
                        <td *ngIf="categoria.atingiu"><i class="las la-check"></i></td>
                        <td *ngIf="!categoria.atingiu"><i class="las la-times"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-foot row m-1 justify-content-between">
            <span class="col-auto">Assertividade</span>
            <span class="col-auto text-success">{{ assertividade }}</span>
            <div class="progress" role="progressbar" aria-label="progresso-perfeitas" aria-valuenow="75" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar w-75"><span class="linha"></span></div>
            </div>
            <div class="d-flex justify-content-center mt-2">
                <span class="text-center txtSecundario p-1"><span class="text-success">+0,5%</span> vs Mês anterior</span>
            </div>
        </div>
    </div>
</div>