.card-title {
    /* font: normal normal 800 10px/14px Nunito; */
    font-family: nunito;
    font-size: 12px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 4px 12px;
    background: padding-box;
    border-radius: 6px 0px;
    background-color: #EFEFEF;
}

.card-body {
    padding-bottom: 0px;
    text-align: center;
}

.card-foot {
    text-transform: uppercase;
    font: normal normal bold 12px/14px Nunito;
    text-align: center;
}

table {
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    font-family: 'nunito';
    text-align: left;
    font-size: 12px;
    line-height: 12px;
}

th {
    font-weight: 800;
}

/* 
tr {
    font: normal normal normal 8px/11px Nunito;
} */

.txtSecundario {
    background: padding-box;
    border: 1px solid #F1F1F1;
    border-radius: 3px;
    font-size: 10px;
    line-height: 14px;
    font-weight: bold;
    align-self: center;
    text-transform: none;
}

.progress {
    padding: 0px;
    margin-top: 5px;
    height: 7px;
}

.progress-bar {
    background-color: #05A51F;
}

i {
    font-size: 12px;
}

.la-check {
    color: #05A51F;
}

.la-times {
    color: #FF4860;
}

.linha {
    position: absolute;
    left: 60%;
    border: 1px solid #007713;
    width: 0px;
    height: 10px;
}