<div class="container-fluid text-left dashboard">
    <div class="d-flex">
        <div class="col-3">
            <div class="card notas">
                <div class="card-body row justify-content-between">
                    <h5 class="card-title">Nota do mês atual</h5>
                    <span class="card-text txtPincipal col-auto">6.36</span>
                    <span class="card-text txtSecundario col-auto"> <span class="txtSuccess">+0.6%</span> vs Mês
                        Anterior</span>
                    <div class="progress" role="progressbar" aria-label="progresso-notas" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-warning w-75"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card visitadas">
                <div class="card-body row justify-content-between">
                    <h5 class="card-title">Lojas visitadas</h5>
                    <span class="card-text txtPincipal col"><span class="txtPrimary">2391</span> de 2891</span>
                    <span class="card-text txtPincipal col-auto txtSuccess">87,7%</span>
                    <div class="progress" role="progressbar" aria-label="progresso-notas" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar w-75" style="background-color: #05A51F;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card perfeitas">
                <div class="card-body row justify-content-between">
                    <h5 class="card-title">Lojas perfeitas</h5>
                    <span class="card-text txtPincipal col-auto"><span class="txtPrimary">432</span> de 2391</span>
                    <span class="card-text txtSecundario col-auto"><span class="txtSuccess">+0.6%</span> vs Mês
                        Anterior</span>
                    <div class="progress" role="progressbar" aria-label="progresso-perfeitas" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar w-75"style="background-color: #05A51F"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card perfeitasPercento">
                <div class="card-body row justify-content-between">
                    <h5 class="card-title">Lojas perfeitas %</h5>
                    <span class="card-text txtPincipal col-auto"><span class="txtSuccess">18,78%</span> de 2391</span>
                    <span class="card-text txtSecundario col-auto"><span class="txtDanger">-0.6%</span> vs Mês
                        Anterior</span>
                    <div class="progress" role="progressbar" aria-label="progresso-percento" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar w-75" style="background-color: #05A51F"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>