<div class="container-fluid">
    <div class="row justify-content-start mt-2 g-2">
        <div class="col">
            <div class="card d-flex">
                <div class="card-body">
                  <div class="card-title position-absolute top-0 start-0" style=" background-color: #B1FBE2;"> Mix</div>
                    <table class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">categoria</th>
                            <th scope="col">%</th>
                            <th scope="col">Atingiu?</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <td>Inseticidas</td>
                              <td>100%</td>
                              <td><i class="las la-check"></i></td>
                            </tr>
                            <tr>
                              <td>Repelentes</td>
                              <td>100%</td>
                              <td><i class="las la-check"></i></td>
                            </tr>
                            <tr>
                              <td>Purificadores</td>
                              <td>100%</td>
                              <td><i class="las la-check"></i></td>
                            </tr>
                            <tr>
                              <td>Banheiro</td>
                              <td>100%</td>
                              <td><i class="las la-check"></i></td>
                            </tr>
                            <tr>
                              <td>Desodizadores</td>
                              <td>100%</td>
                              <td><i class="las la-check"></i></td>
                            </tr> 
                            <tr>
                              <td>Cozinha</td>
                              <td>100%</td>
                              <td><i class="las la-times"></i></td>
                            </tr>
                            <tr>
                              <td>Desinfetantes</td>
                              <td>100%</td>
                              <td><i class="las la-times"></i></td>
                            </tr>
                          </tbody>
                    </table>
                </div>
                <div class="card-foot text-center">
                    Assertividade
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card d-flex">
                <div class="card-body">
                  <div class="card-title position-absolute top-0 start-0" style=" background-color: #ECBBF2;"> Share</div>
                    <table class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">categoria</th>
                            <th scope="col">%</th>
                            <th scope="col">Atingiu?</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Inseticidas</td>
                            <td>100%</td>
                            <td><i class="las la-check"></i></td>
                          </tr>
                          <tr>
                            <td>Repelentes</td>
                            <td>100%</td>
                            <td><i class="las la-check"></i></td>
                          </tr>
                          <tr>
                            <td>Purificadores</td>
                            <td>100%</td>
                            <td><i class="las la-check"></i></td>
                          </tr>
                          <tr>
                            <td>Banheiro</td>
                            <td>100%</td>
                            <td><i class="las la-check"></i></td>
                          </tr>
                          <tr>
                            <td>Desodizadores</td>
                            <td>100%</td>
                            <td><i class="las la-check"></i></td>
                          </tr> 
                          <tr>
                            <td>Cozinha</td>
                            <td>100%</td>
                            <td><i class="las la-times"></i></td>
                          </tr>
                          <tr>
                            <td>Desinfetantes</td>
                            <td>100%</td>
                            <td><i class="las la-times"></i></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-foot text-center">
                    Assertividade
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card d-flex">
                <div class="card-body">
                  <div class="card-title position-absolute top-0 start-0" style=" background-color: #FEC3E2;"> Material</div>
                    <table class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">categoria</th>
                            <th scope="col">%</th>
                            <th scope="col">Atingiu?</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Inseticidas</td>
                            <td>100%</td>
                            <td><i class="las la-check"></i></td>
                          </tr>
                          <tr>
                            <td>Repelentes</td>
                            <td>100%</td>
                            <td><i class="las la-check"></i></td>
                          </tr>
                          <tr>
                            <td>Purificadores</td>
                            <td>100%</td>
                            <td><i class="las la-check"></i></td>
                          </tr>
                          <tr>
                            <td>Banheiro</td>
                            <td>100%</td>
                            <td><i class="las la-check"></i></td>
                          </tr>
                          <tr>
                            <td>Desodizadores</td>
                            <td>100%</td>
                            <td><i class="las la-check"></i></td>
                          </tr> 
                          <tr>
                            <td>Cozinha</td>
                            <td>100%</td>
                            <td><i class="las la-times"></i></td>
                          </tr>
                          <tr>
                            <td>Desinfetantes</td>
                            <td>100%</td>
                            <td><i class="las la-times"></i></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-foot text-center">
                    Assertividade
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card d-flex">
                <div class="card-body">
                  <div class="card-title position-absolute top-0 start-0" style=" background-color: #FFC2CA;"> Cross Merchandising</div>
                    <table class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">categoria</th>
                            <th scope="col">%</th>
                            <th scope="col">Atingiu?</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Inseticidas</td>
                            <td>100%</td>
                            <td><i class="las la-check"></i></td>
                          </tr>
                          <tr>
                            <td>Repelentes</td>
                            <td>100%</td>
                            <td><i class="las la-check"></i></td>
                          </tr>
                          <tr>
                            <td>Purificadores</td>
                            <td>100%</td>
                            <td><i class="las la-check"></i></td>
                          </tr>
                          <tr>
                            <td>Banheiro</td>
                            <td>100%</td>
                            <td><i class="las la-check"></i></td>
                          </tr>
                          <tr>
                            <td>Desodizadores</td>
                            <td>100%</td>
                            <td><i class="las la-check"></i></td>
                          </tr> 
                          <tr>
                            <td>Cozinha</td>
                            <td>100%</td>
                            <td><i class="las la-times"></i></td>
                          </tr>
                          <tr>
                            <td>Desinfetantes</td>
                            <td>100%</td>
                            <td><i class="las la-times"></i></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-foot text-center">
                    Assertividade
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card d-flex">
                <div class="card-body">
                  <div class="card-title position-absolute top-0 start-0" style=" background-color: #54EB95;">Preço</div>
                    <table class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">categoria</th>
                            <th scope="col">%</th>
                            <th scope="col">Atingiu?</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Inseticidas</td>
                            <td>100%</td>
                            <td><i class="las la-check"></i></td>
                          </tr>
                          <tr>
                            <td>Repelentes</td>
                            <td>100%</td>
                            <td><i class="las la-check"></i></td>
                          </tr>
                          <tr>
                            <td>Purificadores</td>
                            <td>100%</td>
                            <td><i class="las la-check"></i></td>
                          </tr>
                          <tr>
                            <td>Banheiro</td>
                            <td>100%</td>
                            <td><i class="las la-check"></i></td>
                          </tr>
                          <tr>
                            <td>Desodizadores</td>
                            <td>100%</td>
                            <td><i class="las la-check"></i></td>
                          </tr> 
                          <tr>
                            <td>Cozinha</td>
                            <td>100%</td>
                            <td><i class="las la-times"></i></td>
                          </tr>
                          <tr>
                            <td>Desinfetantes</td>
                            <td>100%</td>
                            <td><i class="las la-times"></i></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-foot text-center">
                    Assertividade
                </div>
            </div>
        </div>
    </div>
</div>