<div class="container-fluid">
  <div class="d-flex row mt-2 g-3">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="card-title position-absolute top-0 start-0" style=" background-color: #B1FBE2;"> Mix</div>
          <table class="table table-striped text-center mt-4 mb-0">
            <thead>
              <tr>
                <th scope="col">categoria</th>
                <th scope="col">%</th>
                <th scope="col">Atingiu?</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Inseticidas</td>
                <td>100%</td>
                <td><i class="las la-check"></i></td>
              </tr>
              <tr>
                <td>Repelentes</td>
                <td>100%</td>
                <td><i class="las la-check"></i></td>
              </tr>
              <tr>
                <td>Purificadores</td>
                <td>100%</td>
                <td><i class="las la-check"></i></td>
              </tr>
              <tr>
                <td>Banheiro</td>
                <td>100%</td>
                <td><i class="las la-check"></i></td>
              </tr>
              <tr>
                <td>Desodizadores</td>
                <td>100%</td>
                <td><i class="las la-check"></i></td>
              </tr>
              <tr>
                <td>Cozinha</td>
                <td>10%</td>
                <td><i class="las la-times"></i></td>
              </tr>
              <tr>
                <td>Desinfetantes</td>
                <td>10%</td>
                <td><i class="las la-times"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-foot row m-3 justify-content-between">
          <span class="col">Assertividade</span>
          <span class="col-auto text-success">75,0%</span>
          <div class="progress" role="progressbar" aria-label="progresso-perfeitas" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar w-75"></div>
          </div>
          <span class="text-center txtSecundario mt-2"><span class="text-success">+0,5%</span> vs Mês anterior</span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="card-title position-absolute top-0 start-0" style=" background-color: #ECBBF2;"> Share</div>
          <table class="table table-striped text-center mt-4 mb-0">
            <thead>
              <tr>
                <th scope="col">categoria</th>
                <th scope="col">%</th>
                <th scope="col">Atingiu?</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Inseticidas</td>
                <td>100%</td>
                <td><i class="las la-check"></i></td>
              </tr>
              <tr>
                <td>Repelentes</td>
                <td>100%</td>
                <td><i class="las la-check"></i></td>
              </tr>
              <tr>
                <td>Purificadores</td>
                <td>100%</td>
                <td><i class="las la-check"></i></td>
              </tr>
              <tr>
                <td>Banheiro</td>
                <td>100%</td>
                <td><i class="las la-check"></i></td>
              </tr>
              <tr>
                <td>Desodizadores</td>
                <td>100%</td>
                <td><i class="las la-check"></i></td>
              </tr>
              <tr>
                <td>Cozinha</td>
                <td>100%</td>
                <td><i class="las la-times"></i></td>
              </tr>
              <tr>
                <td>Desinfetantes</td>
                <td>100%</td>
                <td><i class="las la-times"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-foot row m-3 justify-content-between">
          <span class="col">Assertividade</span>
          <span class="col-auto text-success">75,0%</span>
          <div class="progress" role="progressbar" aria-label="progresso-perfeitas" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar w-75"></div>
          </div>
          <span class="text-center txtSecundario mt-2"><span class="text-success">+0,5%</span> vs Mês anterior</span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="card-title position-absolute top-0 start-0" style=" background-color: #FEC3E2;"> Material</div>
          <table class="table table-striped text-center mt-4 mb-0">
            <thead>
              <tr>
                <th scope="col">categoria</th>
                <th scope="col">%</th>
                <th scope="col">Atingiu?</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Inseticidas</td>
                <td>100%</td>
                <td><i class="las la-check"></i></td>
              </tr>
              <tr>
                <td>Repelentes</td>
                <td>100%</td>
                <td><i class="las la-check"></i></td>
              </tr>
              <tr>
                <td>Purificadores</td>
                <td>100%</td>
                <td><i class="las la-check"></i></td>
              </tr>
              <tr>
                <td>Banheiro</td>
                <td>100%</td>
                <td><i class="las la-check"></i></td>
              </tr>
              <tr>
                <td>Desodizadores</td>
                <td>100%</td>
                <td><i class="las la-check"></i></td>
              </tr>
              <tr>
                <td>Cozinha</td>
                <td>100%</td>
                <td><i class="las la-times"></i></td>
              </tr>
              <tr>
                <td>Desinfetantes</td>
                <td>100%</td>
                <td><i class="las la-times"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-foot row m-3 justify-content-between">
          <span class="col">Assertividade</span>
          <span class="col-auto text-success">75,0%</span>
          <div class="progress" role="progressbar" aria-label="progresso-perfeitas" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar w-75"></div>
          </div>
          <span class="text-center txtSecundario mt-2"><span class="text-success">+0,5%</span> vs Mês anterior</span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="card-title position-absolute top-0 start-0" style=" background-color: #FFC2CA;"> Cross
            Merchandising</div>
            <table class="table table-striped text-center mt-4 mb-0">
            <thead>
              <tr>
                <th scope="col">categoria</th>
                <th scope="col">%</th>
                <th scope="col">Atingiu?</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Inseticidas</td>
                <td>100%</td>
                <td><i class="las la-check"></i></td>
              </tr>
              <tr>
                <td>Repelentes</td>
                <td>100%</td>
                <td><i class="las la-check"></i></td>
              </tr>
              <tr>
                <td>Purificadores</td>
                <td>100%</td>
                <td><i class="las la-check"></i></td>
              </tr>
              <tr>
                <td>Banheiro</td>
                <td>100%</td>
                <td><i class="las la-check"></i></td>
              </tr>
              <tr>
                <td>Desodizadores</td>
                <td>100%</td>
                <td><i class="las la-check"></i></td>
              </tr>
              <tr>
                <td>Cozinha</td>
                <td>100%</td>
                <td><i class="las la-times"></i></td>
              </tr>
              <tr>
                <td>Desinfetantes</td>
                <td>100%</td>
                <td><i class="las la-times"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-foot row m-3 justify-content-between">
          <span class="col">Assertividade</span>
          <span class="col-auto text-success">75,0%</span>
          <div class="progress" role="progressbar" aria-label="progresso-perfeitas" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar w-75"></div>
          </div>
          <span class="text-center txtSecundario mt-2"><span class="text-success">+0,5%</span> vs Mês anterior</span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="card-title position-absolute top-0 start-0" style=" background-color: #54EB95;">Preço</div>
          <table class="table table-striped text-center mt-4 mb-0">
            <thead>
              <tr>
                <th scope="col">categoria</th>
                <th scope="col">%</th>
                <th scope="col">Atingiu?</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Inseticidas</td>
                <td>100%</td>
                <td><i class="las la-check"></i></td>
              </tr>
              <tr>
                <td>Repelentes</td>
                <td>100%</td>
                <td><i class="las la-check"></i></td>
              </tr>
              <tr>
                <td>Purificadores</td>
                <td>100%</td>
                <td><i class="las la-check"></i></td>
              </tr>
              <tr>
                <td>Banheiro</td>
                <td>100%</td>
                <td><i class="las la-check"></i></td>
              </tr>
              <tr>
                <td>Desodizadores</td>
                <td>100%</td>
                <td><i class="las la-check"></i></td>
              </tr>
              <tr>
                <td>Cozinha</td>
                <td>100%</td>
                <td><i class="las la-times"></i></td>
              </tr>
              <tr>
                <td>Desinfetantes</td>
                <td>100%</td>
                <td><i class="las la-times"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-foot row m-3 justify-content-between">
          <span class="col">Assertividade</span>
          <span class="col-auto text-success">75,0%</span>
          <div class="progress" role="progressbar" aria-label="progresso-perfeitas" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar w-75"></div>
          </div>
          <span class="text-center txtSecundario mt-2"><span class="text-success">+0,5%</span> vs Mês anterior</span>
        </div>
      </div>
    </div>
  </div>
</div>