<app-header></app-header>

<div class="d-flex cardLoja">
    <div class="col-3 p-1" *ngFor="let card of cardLoja">
        <app-card-loja 
            [titulo]="card.titulo" [notaMes]="card.notaMes" [lojasPerfeitas]="card.lojasPerfeitas"
            [lojasVisitadas]="card.lojasVisitadas" [percentualPerfeitas]="card.percentualPerfeitas"
            [txtSecundario]="card.txtSecundario" [totalLojas]="card.totalLojas"
            [percentualVisitadas]="card.percentualVisitadas" [meta]="card.meta" [progresso]="card.progresso">
        </app-card-loja>
    </div>
</div>

<div class="d-flex">
    <app-lojas-por-faixa-de-notas class="col-4 p-1"></app-lojas-por-faixa-de-notas>
    <app-grafico-evolucao-media-notas class="col-8 p-1"></app-grafico-evolucao-media-notas>
</div>


<div class="d-flex row-cols-5">
    <div class='col p-1' *ngFor="let categoria of categorias">
        <app-categorias [titulo]="categoria.titulo" [bg]="categoria.bg"></app-categorias>
    </div>
</div>
<div class="p-1">
    <app-tabela-categorias></app-tabela-categorias>
</div>