<app-header></app-header>

<div class="d-flex cardLoja">
    <div class="col-3 p-1" *ngFor="let card of cardLoja">
        <app-card-loja [titulo]="card.titulo" [txtPrincipal]="card.txtPrincipal"
            [txtSecundario]="card.txtSecundario"></app-card-loja>
    </div>
    <app-card-lojas-visitadas class="col-3 p-1" [titulo]="visitadas.titulo" [txtPrincipal]="visitadas.txtPrincipal"
        [txtSecundario]="visitadas.txtSecundario"></app-card-lojas-visitadas>
</div>

<div class="d-flex">
    <app-lojas-por-faixa-de-notas class="col-4 p-1"></app-lojas-por-faixa-de-notas>
    <app-grafico-evolucao-media-notas class="col-8 p-1"></app-grafico-evolucao-media-notas>
</div>


<div class="d-flex row-cols-5">
    <div class='col p-1' *ngFor="let categoria of categorias">
        <app-categorias [titulo]="categoria.titulo" [bg]="categoria.bg"></app-categorias>
    </div>
</div>
<div  class="p-1">
    <app-tabela-categorias></app-tabela-categorias>
</div>