<div class="card grafico">
    <div class="card-body ">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title col p-1">Evolucão por média de notas - ultimos 6 meses</h5>
            <a class="col-auto p-1">6 meses</a>
            <a class="col-auto p-1">3 meses</a>
            <a><i class="las la-expand p-1"></i></a>
        </div>

        <span class="card-text">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                style="width: 100%; height: 200px; display: block;"></highcharts-chart>
        </span>
    </div>
</div>