.card-title {
    font: normal normal 800 12px/14px Nunito;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    /* color: black; */
    font: normal normal bold 12px/14px Nunito;
}

.active {
    background-color: #EFEFEF;
}