.card {
    background-color: white;
    font-family: nunito;
    font-size: 11px;
    line-height: 12px;
}

.nav-link {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

table {
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    /* font-size: 10px;
    line-height: 12px; */
}
thead tr th {
    font-weight: 800;
    /* font: normal normal 800 10px/12px Nunito; */
}
tbody tr th {
    color: #025ADE;
    font-weight: bold;
    text-transform: uppercase;
    /* font-size: 10px;
    line-height: 12px; */
}