.card {
    height: 100%;
    /* font-size: 12px;
    line-height: 14px;
    font-family: nunito; */
}

.card-title {
    font: normal normal 800 12px/14px Nunito;
    text-transform: uppercase;
}

.faixa {
    font: normal normal normal 12px/14px Nunito;
}

.numeroLojas {
    font: normal normal bold 12px/14px Nunito;
}

.progress {
    background-color: #FFFFFF;
    margin-top: 5px;
    height: 7px;
}
.progress-bar {
    border-radius: 6px;
}