.nav {
    height: 100vh;
    background-color: white;
    
}
/* .nav-brand {
    padding: 18px;  
    height: 57px;
    width: 57px;
} */
.nav-link {
    padding: 18px;
    color: black;
}
.conteudo {
    /* padding-left: 0%;
    margin-left: 0px; */
    background-color:#F1F1F1;
    /* width: fit-content; */
}

.active{
    background-color: blue;
}

.active i{
    color: white;
}

i {
    font-size: 21px;
    color: blue  
}

.icon-store {
    color: white;
}