nav {
    height: 100vh;
    background-color: white;
}
.nav-brand {
    height: 57px;
    width: 57px;
}
.nav-link {
    padding: 18px;
    height: 57px;
}
.conteudo {
    /* padding-left: 0%;
    margin-left: 0px; */
    background-color:#F1F1F1;
    /* width: fit-content; */
}

.active{
    background-color: blue;
}

i {
    font-size: 21px;
    color: blue  
}

.icon-store {
    padding: 18px;
    color: white;
}